body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media only screen and (width <= 1200px) {
  .navigation-label {
    display: none;
  }
}
@media only screen and (width <= 800px) {
  .who-to-follow {
    display: none;
  }
}
@media only screen and (width <= 600px) {
  .entertainment-tab {
    display: none;
  }
}
